# YOLO outputs
runs/
**/runs/

# Weights (do not upload)
*.pt
weights/
**/weights/

# Datasets (do not upload)
data/images/
data/labels/
data/annotations/
**/data/images/
**/data/labels/
**/data/annotations/

# Python env
.venv/
venv/
env/
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db
